<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <!-- 쿼리문 작성 -->
    
<mapper namespace="com.oidc.user.dao.UserMapper">

    <!--로그인-->
    <select id="login" parameterType="String" resultType = "String">
        SELECT UID FROM USERINFO WHERE USERID=#{userId} and USERPW=#{userPw}
    </select>

</mapper>