<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <!-- 쿼리문 작성 -->
    
<mapper namespace="com.oidc.user.dao.UserMapper">

    <!--로그인-->
    <select id="login" parameterType="userDto" resultType = "String">
        SELECT UID FROM USERINFO WHERE USERID=#{userId} and USERPW=#{userPw}
    </select>

    <select id="checkId" parameterType="String" resultType="String">
        SELECT USERID FROM USERINFO WHERE USERID=#{userId}
    </select>

    <insert id="register" parameterType="userDto">
        INSERT INTO USERINFO(UNAME, USERID, USERPW, USEX, USEREMAIL, UNUMBER) VALUES (#{uname},#{userId},#{userPw},#{usex},#{userEmail},#{unumber})
    </insert>

    <select id="findIdPw" parameterType="userDto" resultType="HashMap">
        SELECT USERID, USERPW FROM USERINFO WHERE UNAME=#{uname} AND USEREMAIL=#{userEmail} AND UNUMBER=#{unumber}
    </select>
</mapper>